.cli {
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  overflow-wrap: anywhere;
  overflow-x: scroll;
  background: black;
  color: white;
  font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
}