@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.f-jerg {
  font-family: 'Bebas Neue', cursive;

  .banner {
    .banner-content {
      font-family: 'Bebas Neue', cursive !important;
    }
  }

  .selecta-machine {
    position: relative;
    min-height: 100vh;

    & > div {
      text-align: center;
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      width: 100%;

      h2 {
        padding-top: 20px;
      }

      & > div {
        & > div {
          margin: 0 auto;

          @media (max-width: 768px) {
            transform: scale(0.75);
          }
        }
      }
    }
  }
}