@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

.g-gross{
  font-family: "Bangers", cursive;
  text-align: center;
  .icon:hover{
    cursor: pointer;
  }
  .laaxopen{
    background: url("/res/img/ggross/laaxopen.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  .memes{
    padding: 10px;
    .gallery{
      }
  }
}
.meme-content{
  height:100vh;
  width:100vw;
  background-color: rgba(179, 178, 175, .5);
}
